<div class="jumbotron">
  <h1>
    coi
    <small class="translation">Hello!</small>
  </h1>
  <p>
    Lojban is a constructed, syntactically unambiguous human language based on predicate logic.
  </p>
  <p
</div>
