<div class="jumbotron">
  <h1>
    <span>coi</span>
    <span class="translation">Hello!</span>
  </h1>
  <p>
    Lojban is a constructed, syntactically unambiguous human language based on predicate logic.
  </p>
  <p
</div>
