body {
  font-size: 1.5em;
}

.translation {
  font-style: italic;
  &::before {
    content: "– "
  }
}

big {
  font-size: 1.5em;
}

small {
  font-size: 0.8em;
  color: #666;
}

span {
  margin-right: 0.5em;
}

a {
  color: #444;
  &:hover {
    color: #222;
  }
  &:visited, &:active {
    color: inherit
  }
}
